.menu-container{
    background-color: #000;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: -3px -3px 10px 0px #86858a66;
}
.heading-section{
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
        .header-main{
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                li {
                    padding: 0 15px;
                    a{
                        text-decoration: none;
                        font-size: 0.9em;
                        color:#828c90;
                        font-weight:500;
                        position: relative;
                        font-family:$primary-font;
                        position: relative;
                        &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: calc(100% + 5px);
                                width: 0;
                                height: 2px;
                                background-color:#828c90;
                                transition: width 0.3s ease-in-out;
                            }
                        &:hover{
                            color: #FFF;
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }        
            }
        }
        @media(min-width:992px){
            display: block;
        }
    }
.main-heading-sec{
    .logo-container{
        width:100%;
        .logo{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
//hero section
.hero-section{
    .tns-outer{
        position: relative;
        .tns-controls{
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left:0;
            transform: translateY(-50%);
            width: 100%;
            z-index: 3;
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 3em;
                padding: 0 30px;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .slides{
        .slide{
        
        // background-image: url(../images/heroimg.jpg);
        background-size: cover;
        background-position: bottom center;
        
            .slide-main{
                display: flex;
                align-items: center;
                
                height: 700px;

                .text-container{
                    width:100%;
                    .hero-heading{
                        color: #fff;
                        font-family: $primary-font;
                        font-weight: 700;
                        text-align: center;
                        padding-bottom: 30px;
                        font-size: 3em;
                        @media (min-width: 768px) {
                            font-size: 6rem;
                        }
                    }
                    .button-discover {
                        @include button(#fff,#000);
                    }
                }
               
            }
         
        }
    
    }
}
//end hero section

//gallery section
.gallery-sec {
    margin-bottom: 30px;
    .section-heading{
        position: relative;
        margin-bottom: 40px;
        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height:2px;
            background-color: #000;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .gallery-heading {
            text-align: center;
            font-weight: 700;
            font-family: $primary-font;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }
        .gallery-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 500;
            font-family: $primary-font;
    
        }
        
    }
    .btn-container{
        margin: 50px 0;
        
        text-align: center;
       
        a{
            @include button();
        }
    }
    .gallery{
        position: relative;
        .gallery-img{
            width: 100%;
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: change-color(#000, $alpha: 0.5);
            top:0;
            left:0;
            transform:scale(0);
            transition: 0.1s ease-in-out;
            i{
                color: #fff;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 3em;
            }
        }

        &:hover{
            .overlay{
                transform: scale(1);
            }
        }
    }
}
//end gallery section

//Blog section
.blog-sec {
    margin-bottom: 30px;
    .tns-outer{
        position: relative;
        .tns-controls{
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50% , -50%);
            width: calc(100% + 230px);
            z-index: 3;
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#000;
                font-size: 2em;
                padding: 0 30px;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .slide{
        .row{
            margin:0;
        }
    }
    .section-heading{
        position: relative;
        margin-bottom: 40px;
        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height:2px;
            background-color: #000;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .blog-heading {
            text-align: center;
            font-weight: 700;
            font-family: $primary-font;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }
        .blog-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 500;
            font-family: $primary-font;
         
    
        }
    }
    .blog{
        .blog-img{
            width:100%;
        }
    }
        .single-blog-heading{
            text-align: center;
            font-weight: 700;
            font-family: $primary-font; 
            padding-bottom: 10px;
            text-transform: uppercase;
            color:#212020;
        }
        .single-blog-heading-text {
            text-align: justify;
            font-weight: 500;
            font-family: $primary-font;
            font-style: italic;
            color:#212020;

    
        }
        .btn-container{
            text-align: center;
            a{
                @include button();
            }
        }
}
//End Blog section

//contact section
.contact-sec {
    margin-bottom: 30px;
    .section-heading{
        position: relative;
        margin-bottom: 40px;
        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height:2px;
            background-color: #000;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .contact-heading {
            text-align: center;
            font-weight: 700;
            font-family: $primary-font;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }
        .contact-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 500;
            font-family: $primary-font;
    
        }
    }
    .contact{
        .contact-img{
            width: 100%;
        }
    }
    .contact-card{
        box-shadow:10px 8px 20px 9px #60606017;
        padding: 50px 30px;
        height: 100%;
    form{
        
        input , textarea{
            width:100%;
            border: none;
            border-bottom: 1px solid;           
        }
    }
    .btn-submit{
        @include button();
    }
}
}
//End Blog section